name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Adjust version number
        shell: bash
        run: |
          yq -i -o json '.version="${{ github.ref_name }}" | sub("^v"; "")' \
            "${{ github.workspace }}/custom_components/moon_astro/manifest.json"

      - name: Create ZIP archive
        shell: bash
        run: |
          cd custom_components
          zip -r moon_astro.zip moon_astro

      - name: Create GitHub Release with asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          files: custom_components/moon_astro.zip