name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Adjust version number
        shell: bash
        run: |
          yq -i -o json '.version="${{ github.event.release.tag_name }}"' \
            "${{ github.workspace }}/custom_components/moon_astro/manifest.json"

      - name: Create ZIP Archive
        shell: bash
        run: |
          cd "${{ github.workspace }}/custom_components/moon_astro"
          zip -r moon_astro.zip ./

      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.workspace }}/custom_components/moon_astro/moon_astro.zip